In [3]:
import pandas as pd
df = pd.read_csv("customer_shopping_behavior.csv")
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.describe(include="all")

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [6]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [10]:
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [7]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [8]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [9]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [10]:
#create a column age_group
labels=['young adult','adult','middle-aged','senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

In [11]:
df[['age','age_group']].head(10)

   age    age_group
0   55  middle-aged
1   19  young adult
2   50  middle-aged
3   21  young adult
4   45  middle-aged
5   46  middle-aged
6   63       senior
7   27  young adult
8   26  young adult
9   57  middle-aged

In [12]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [13]:
#create column purchase_frequency_days

frequency_mapping={
                   'Fortnightly':14,
                   'Weekly':7,
                   'Annually':365, 
                   'Quarterly':90,
                   'Bi-Weekly':14,
                   'Monthly':30, 
                   'Every 3 Months':90}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [32]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [14]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [15]:
(df['discount_applied']==df['promo_code_used']).all()

True

In [16]:
df=df.drop('promo_code_used',axis=1)

In [17]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [38]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\users\varti\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\varti\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\varti\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB 1.3 MB/s eta 0:00:03
    --------------------------------------- 0.0/2.7 MB 393.8 kB/s eta 0:00:07
   - -------------------------------------- 0.1/2.7 MB 655.4 kB/s eta 0:00:05
   -- ------------------------------------- 0.1/2.7 MB 774.0 kB/s eta 0:00:04
   -- ------------------------------------- 0.2/2.7 MB 654.6 kB/s eta 0:00:04
   -- ------------------------------------- 0.2/2.7 MB 696.3 kB/s eta 0:00:04
   --- ------------------------------------ 0.2/2.7 MB 758.5 kB/s eta 0:00:04
   --- ------------------------------------ 0.3/2.7 MB 714.4 kB/s eta 0:00:04
   ---- ----------------------------------- 0.3/2.7 MB 729.6 kB/s eta 0:00:04
   ----- ---------------------------------- 0.3/2.7 MB 746.0 kB/s eta 0:00:04
   ------ --------------------------------- 0.4/2.7 MB 819.2 kB/s eta 0:00:03
   ------ --------------------------------- 0.5/2.7 MB 842.4 kB/s eta 0:00:03
   ------- -------------------------------- 0.5/2.7 MB 885.8 kB/s eta 0:00:03
   -------- ------------------------------- 0.6/2.7 MB 917.5 kB/s eta 0:00:03
   --------- ------------------------------ 0.6/2.7 MB 919.6 kB/s eta 0:00:03
   ---------- ----------------------------- 0.7/2.7 MB 933.4 kB/s eta 0:00:03
   ----------- ---------------------------- 0.8/2.7 MB 955.9 kB/s eta 0:00:03
   ------------ --------------------------- 0.8/2.7 MB 1.0 MB/s eta 0:00:02
   ------------- -------------------------- 0.9/2.7 MB 1.0 MB/s eta 0:00:02
   -------------- ------------------------- 1.0/2.7 MB 1.1 MB/s eta 0:00:02
   --------------- ------------------------ 1.1/2.7 MB 1.1 MB/s eta 0:00:02
   ----------------- ---------------------- 1.2/2.7 MB 1.2 MB/s eta 0:00:02
   ------------------ --------------------- 1.3/2.7 MB 1.2 MB/s eta 0:00:02
   ------------------- -------------------- 1.3/2.7 MB 1.2 MB/s eta 0:00:02
   --------------------- ------------------ 1.4/2.7 MB 1.2 MB/s eta 0:00:02
   ---------------------- ----------------- 1.5/2.7 MB 1.2 MB/s eta 0:00:01
   ----------------------- ---------------- 1.6/2.7 MB 1.3 MB/s eta 0:00:01
   ------------------------ --------------- 1.6/2.7 MB 1.3 MB/s eta 0:00:01
   ------------------------- -------------- 1.7/2.7 MB 1.3 MB/s eta 0:00:01
   -------------------------- ------------- 1.8/2.7 MB 1.3 MB/s eta 0:00:01
   --------------------------- ------------ 1.9/2.7 MB 1.3 MB/s eta 0:00:01
   ---------------------------- ----------- 2.0/2.7 MB 1.3 MB/s eta 0:00:01
   ------------------------------ --------- 2.0/2.7 MB 1.3 MB/s eta 0:00:01
   ------------------------------- -------- 2.1/2.7 MB 1.3 MB/s eta 0:00:01
   -------------------------------- ------- 2.2/2.7 MB 1.4 MB/s eta 0:00:01
   --------------------------------- ------ 2.3/2.7 MB 1.4 MB/s eta 0:00:01
   ---------------------------------- ----- 2.4/2.7 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 2.5/2.7 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 2.6/2.7 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 1.4 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: Loading egg at c:\users\varti\anaconda3\lib\site-packages\realesrgan-0.3.0-py3.12.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330

In [18]:
from sqlalchemy import create_engine
#connect to postgresql
username="postgres" 
password="****"
host="localhost"
port="5432"
database="customer_behaviour"

engine=create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

#load dataframe into postgresql
table_name="customer"
df.to_sql(table_name,engine,if_exists="replace",index=False)

print(f"Data succesfully loaded into table'{table_name}' in database'{database}'.")

Data succesfully loaded into table'customer' in database'customer_behaviour'.